npm-debug.log*
node_modules
/build
/dist

/public/jspm_packages
/public/main.bundle.js
/public/main.bundle.js.map
/public/main.bundle.css
/public/main.bundle.css.map

/public/scripts/bundle.js
/public/scripts/bundle.js.map
